body{
    height:100%;
    margin: 0;
    background:url('Bilder/Pfad\ 1.svg') no-repeat;
    background-size:cover;
    background-color:rgb(164, 200, 221,0.4);
}
#contact{
    color:white;
    padding:2em;
    margin-top:1em;
}
#contact label{
    color:white;
}
#logo{
    width:100%;
}
#logo img{
    position: absolute;
    right: 100px;
}
/*Logo und Überschrift wird mobile angepasst*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #logo{
        background-color:white;
    }
    #logo img{
        position: relative;
        height: 40px;
        left:50px;
        padding:10px;
    }
    #contact h1{
        font-size:1.5rem;
    }
}